main {
  padding-top: 40px;
  width: 800px;
  background: #ffffff;
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
}

h2 {
  color: #333;
}

fieldset {
  border: none;
}

input[type="number"] {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  width: 85px;
  padding: 10px;
}

a {
  margin-top: 25px;
  text-decoration: none;
  color: #000;
}